body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    font-size: 15px;
    border: 0px;
    border-radius: 7px;
    padding: 10px 30px 10px 30px;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 3%;
}
.half-width img{
    width: 80%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 10px;
}
footer p{
    text-align: center;
}
.Experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.developer{
    color: orange;
}
.experiences-item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 4%;
    margin-right: 4%;
    padding: 20px;
}
h2{
    font-size: 40px;
}
#border1{
    border-left: 7px solid orange;
}
#border2{
    border-left: 7px solid blue;
}